@font-face {
  font-family: "swansea-font";
  src: url("fonts/swansea-font/Swansea-q3pd.ttf");
  font-family: "kona-font";
  src: url("fonts/kona-font/KonaRegular-PKdzP.ttf");
}

body {
  background-color: #e3dcd2;
}

a {
  text-decoration: none;
}

p {
  font-family: "swansea-font";
  color: #013328;
  font-size: 175%;
  text-align: justify;
}

h1 {
  font-family: "kona-font";
  color: #013328;
  margin-left: 20px;
  text-align: center;
  margin: 0 0 0 0;
  padding: 25px 50px;
}

h2 {
  font-family: "kona-font";
  color: #013328;
  margin-left: 20px;
  text-align: justify;
  margin: 0 0 0 0;
  padding: 25px 50px;
}

.hero-image {
  background: url(images/onesie-min.jpg) no-repeat center; 
  background-size: cover;
  height: 400px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5f5f5;
  text-shadow: 0px 0px 15px #100c0d;
}

.button {
  border: none;
  color: white;
  background-color: #013328;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: auto;
  margin-top: 30px;
  cursor: pointer;
  box-align: center;
  display: flex;
  justify-content: center;
  width: 75%;
  max-width: 500px;
}

/*FIXED NAV*/
body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #100c0d;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "kona-font";
}

.navbar a {
  float: left;
  display: block;
  color: #f5f5f5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.navbar a:hover {
  background-color: #333;
}

.main {
  padding: 16px;
  margin-top: 30px;
}

/*FOOTER*/
.footer {
  background-color: #100c0d;
  padding: 5px;
  text-align: center;
  bottom: 0;
}

.footer a:link {
  color: #cc8b65;
  background-color: transparent;
  text-decoration: none;
}
  
.footer a:visited {
  color: #cc8b65;
  background-color: transparent;
  text-decoration: none;
}
  
.footer a:hover {
  color: #f5f5f5;
  background-color: transparent;
  text-decoration: underline;
}
  
.footer a:active {
  color: #f5f5f5;
  background-color: transparent;
  text-decoration: underline;
}

.footer p {
  font-family: "swansea-font";
  text-align: center;
  font-size: 100%;
}